08-prototipo/0827-favicon/bikcraft-arquivos/img/parceiros/ranek.svg
08-prototipo/0827-favicon/bikcraft-arquivos/img/parceiros/surfbot.svg
08-prototipo/0827-favicon/bikcraft-arquivos/img/parceiros/wildbeast.svg
08-prototipo/0827-favicon/bikcraft-arquivos/img/redes/facebook-p.svg
08-prototipo/0827-favicon/bikcraft-arquivos/img/redes/facebook.svg
08-prototipo/0827-favicon/bikcraft-arquivos/img/redes/instagram-p.svg
08-prototipo/0827-favicon/bikcraft-arquivos/img/redes/instagram.svg
08-prototipo/0827-favicon/bikcraft-arquivos/img/redes/youtube-p.svg
08-prototipo/0827-favicon/bikcraft-arquivos/img/redes/youtube.svg
arquivos/08-prototipo/0801-imagens-e-icones/0801-imagens-e-icones.fig
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/bikcraft.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/textos.txt
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/fotos/bicicletas/bicicleta1.jpg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/fotos/bicicletas/bicicleta2.jpg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/fotos/bicicletas/bicicleta3.jpg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/fotos/gerais/depoimento.jpg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/fotos/gerais/diferencial.jpg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/fotos/gerais/seguros.jpg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/fotos/mapas/rio.jpg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/fotos/mapas/sp.jpg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/icones/entrega.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/icones/estoque.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/icones/bicicletas/carbono.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/icones/bicicletas/eletrica.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/icones/bicicletas/rastreador.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/icones/bicicletas/seguro.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/icones/bicicletas/sustentavel.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/icones/bicicletas/velocidade.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/icones/contato/email.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/icones/contato/horario.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/icones/contato/local.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/icones/contato/telefone.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/icones/redes-sociais/facebook.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/icones/redes-sociais/instagram.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/icones/redes-sociais/youtube.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/parceiros/caravan.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/parceiros/dogs.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/parceiros/flexblog.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/parceiros/handel.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/parceiros/lescone.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/parceiros/ranek.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/parceiros/surfbot.svg
arquivos/08-prototipo/0801-imagens-e-icones/arquivos-cliente/parceiros/wildbeast.svg
arquivos/08-prototipo/0808-home-parceiros/parceiros/caravan.svg
arquivos/08-prototipo/0808-home-parceiros/parceiros/dogs.svg
arquivos/08-prototipo/0808-home-parceiros/parceiros/flexblog.svg
arquivos/08-prototipo/0808-home-parceiros/parceiros/handel.svg
arquivos/08-prototipo/0808-home-parceiros/parceiros/lescone.svg
bikcraft/.gitattributes